<nav class="navbar">
  <div class="navbar-brand">E-Commerce</div>

  <ul class="nav-links">
    <ng-container *ngIf="isLoggedIn()">
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/add-product">Add Product</a></li>
  <li class="cart-link">
  <a routerLink="/cart" class="cart-container">
    <span class="cart-icon">🛒</span>
    <span class="cart-badge" *ngIf="cartCount() > 0">{{ cartCount() }}</span>
    <span class="cart-text">Cart</span>
  </a>
</li>

    </ng-container>
  </ul>

  <div class="nav-buttons">
    <a *ngIf="!isLoggedIn()" routerLink="/login" class="btn login-btn">Login</a>
    <a *ngIf="isLoggedIn()" (click)="logout()" class="btn logout-btn">Logout</a>
  </div>
</nav>
